.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
 }
 
 .App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 }
 
 .section {
  margin: 20px;
 }
 
 footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
 }