body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #00ffbf;
  color: rgb(14, 108, 20);
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

h3 {
  color: #ffcc00;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

a {
  color: rgb(31, 109, 47) !important;
  text-decoration: none !important;
}

a:hover {
  border-bottom: 1px solid rgb(219, 5, 5);
}
