body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6ac2a6;
  color: #000000;
  overflow: auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
}
